.card{
    background-color: var(--secondary-color);
    width:800px;
}
input[type=text],[type=email]{
    padding:20px;
    height:40px;
    width:100%;
    box-shadow:0px 0px 33px -10px rgba(71,114,254,0.3);
}
.btn-sub{
    background-color:var(--primary-color);
    color:white;
}