<div class="card mt-3">
    <div class="card-body">
        <h4>Comments (145)</h4>
        <div class="comment-data p-3 mt-2">
            <h5>Jhon Doe</h5>
            <small class="text-danger">last updated - sept 25 2023</small>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quisquam reiciendis earum quae, nobis quas eum. Ratione ipsa tenetur voluptas!</p>
            <a href="" class="text-decoration-none me-3" >Reply</a>
            <a href="" class="text-decoration-none me-3">View Reply</a>
        </div>
        <div class="comment-data p-3 mt-2">
            <h5>Jhon Doe</h5>
            <small class="text-danger">last updated - sept 25 2023</small>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quisquam reiciendis earum quae, nobis quas eum. Ratione ipsa tenetur voluptas!</p>
            <a href="" class="text-decoration-none me-3" >Reply</a>
            <a href="" class="text-decoration-none me-3">View Reply</a>
        </div>
        <div class="comment-data p-3 mt-2">
            <h5>Jhon Doe</h5>
            <small class="text-danger">last updated - sept 25 2023</small>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quisquam reiciendis earum quae, nobis quas eum. Ratione ipsa tenetur voluptas!</p>
            <a href="" class="text-decoration-none me-3" >Reply</a>
            <a href="" class="text-decoration-none me-3">View Reply</a>
        </div>
        <div class="comment-data p-3 mt-2">
            <h5>Jhon Doe</h5>
            <small class="text-danger">last updated - sept 25 2023</small>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quisquam reiciendis earum quae, nobis quas eum. Ratione ipsa tenetur voluptas!</p>
            <a href="" class="text-decoration-none me-3" >Reply</a>
            <a href="" class="text-decoration-none me-3">View Reply</a>
        </div>
        <div class="comment-data p-3 mt-2">
            <h5>Jhon Doe</h5>
            <small class="text-danger">last updated - sept 25 2023</small>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quisquam reiciendis earum quae, nobis quas eum. Ratione ipsa tenetur voluptas!</p>
            <a href="" class="text-decoration-none me-3" >Reply</a>
            <a href="" class="text-decoration-none me-3">View Reply</a>
        </div>
        <div class="comment-data p-3 mt-2">
            <h5>Jhon Doe</h5>
            <small class="text-danger">last updated - sept 25 2023</small>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quisquam reiciendis earum quae, nobis quas eum. Ratione ipsa tenetur voluptas!</p>
            <a href="" class="text-decoration-none me-3" >Reply</a>
            <a href="" class="text-decoration-none me-3">View Reply</a>
        </div>
        
    </div>
</div>